<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="ParamFolderPath" value="C:\Program Files (x86)\GWydiR\ParamFiles\"/>
    <add key="GWydiRAppPath" value ="C:\Program Files (x86)\GWydiR\GWydiR.exe"/>
    
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
