<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>

    <add key="NameSpaceAbb" value="ns1"/>

    <add key="NameSpace" value="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration"/>

    <add key="XPathSettingQuery" value="/ns1:ServiceConfiguration/ns1:Role/ns1:ConfigurationSettings/ns1:Setting[@name=&quot;{0}&quot;]"/>

    <add key="XPathInstanceQuery" value="/ns1:ServiceConfiguration/ns1:Role/ns1:Instances"/>

    <add key="XPathCertificatesQuery" value="/ns1:ServiceConfiguration/ns1:Role/ns1:Certificates/ns1:Certificate[@name=&quot;{0}&quot;]"/>

    <add key="STSURLSuffix" value="/STS/UsernamePassword.svc"/>

    <add key="GenericWorkerURLSuffix" value="/JobSubmission/SecureService.svc"/>

    <add key="ScalingServiceURLSuffix" value="/ScalingService/SecureService.svc"/>

    <add key="NotificationURLSuffix" value="/NotificationService/SecureService.svc"/>

    <add key ="TempFileName" value="temporaryFile"/>

    <add key ="VMSizesFolder" value ="C:\Program Files (x86)\GWydiR\VMSizes"/>

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
